<header class="header">
    <a href="/" class="iconlink">
        <img src="{{ '/static/images/park.png' | url }}" />
        <span>{{ meta.title }}</span>
    </a>
    <p>
        <a href="/tech">Tech</a> and <a href="/business">business</a>. Sometimes <a href="/personal">personal</a>. Mostly tech.
    </p>
</header>