---
layout: base
---

<div class="main">
    <ol class="postlist" reversed>
        {% for post in collections.all | categoryFilter("tech") | reverse %}
            {% include 'post_item.njk' %}
        {% endfor %}
    </ol>
    {% include "about.njk" %}
</div>